importFrom(igraph, get.adjacency)
importFrom(igraph, get.edgelist)
importFrom(igraph, graph.adjacency)
importFrom(multtest, mt.rawp2adjp)
importFrom(multtest, mt.reject)
importFrom(methods, new)
importFrom(igraph, diameter)
importFrom(igraph, neighborhood)
importFrom(igraph, V)
importFrom(igraph, 'V<-')
importFrom(igraph, E)
importFrom(igraph, subcomponent)
importFrom(igraph, induced.subgraph)
importFrom(RColorBrewer, brewer.pal)
importFrom(classInt, classIntervals)
importFrom(classInt, findColours)
importFrom(Rgraphviz, plot)
importFrom(graph, nodes)
importFrom(igraph, igraph.to.graphNEL)
importFrom(methods, slot)
importFrom(Matrix, sparseMatrix)

exportPattern("^[^\\.]")
export(Adaptive.GBH)
export(Oracle.GBH)
export(estimate.pi0)
exportClasses(hypothesesTree)
export(hFDR.adjust)
