importFrom(igraph, get.adjacency)
importFrom(igraph, get.edgelist)
importFrom(igraph, graph.edgelist)
importFrom(multtest, mt.rawp2adjp)
importFrom(multtest, mt.reject)
importFrom(methods, new)
importFrom(igraph, diameter)
importFrom(igraph, neighborhood)
importFrom(igraph, V)
importFrom(igraph, 'V<-')
importFrom(igraph, E)
importFrom(igraph, subcomponent)
importFrom(igraph, induced.subgraph)
importFrom(igraph, get.vertex.attribute)
importFrom(methods, slot)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, geom_line)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, geom_hline)
importFrom(ggplot2, scale_x_discrete)
importFrom(ggplot2, scale_y_continuous)
importFrom(ggplot2, ggtitle)
importFrom(ggplot2, aes)
importFrom(reshape2, melt)
importFrom(rjson, toJSON)

exportPattern("^[^\\.]")
export(Adaptive.GBH, Oracle.GBH, estimate.pi0, hFDR.adjust,
       EstimatedHFDRControl)
exportMethods(show, summary, plot)
exportClasses(hypothesesTree, GBH)
